body {
    display: flex;
    flex-flow: column nowrap;
    margin: 0;
    font-family: 'Roboto';
}

.first-section {
    background-color: #1F2937;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    max-height: 64px;
}
.corner-logo {
    display: flex;
    color: #F9FAF8;
    font-size: 24px;
    font-weight:bolder;
    margin: 16px;
    margin-left: 208px;
    
}

ul {
    display: flex;
    flex-flow: row wrap;
    gap: 24px;
    margin-right: 132px;
}

li, .second-headingSubtext {
    color: #E5E7EB;
    font-size: 18px;
    list-style: none;
}

.firstSec-cont {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.second-section {
    background-color: #1F2937;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    min-height: 472px;
    justify-content: space-between;
    gap: 32px
}

.main-header {
    display: flex;
    flex-flow: column wrap;
    max-width: 450px;
    margin-left: 208px;
}

.second-heading {
    color:#F9FAF8;
    font-size: 48px;
    margin: 0;
    

}

.header-img {
}

.signupOne {
    background-color: #3882F6;
    border-radius: 8px;
    font-weight: bolder;
    color: #E5E7EB;
    min-height: 40px;
    max-width: 132px;
    font-size: 20px;
    border-color: transparent;
}


.third-section {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    min-height: 424px;

}

.third-imgSubtextS {
    display: flex;
    flex-flow: row nowrap;
    gap: 16px;
    max-width: 600px;
    justify-items: center;
    text-align: center;
    margin-right: 56px;
    align-items: center;
}

.third-imgSubtext {
    display: flex;
    flex-flow: column nowrap;
}

.third-imgCont {
    border: 3px solid #3882F6;
    height: 132px;
    border-radius: 16px;
    background-color: #3882F6;
}

.third-img {
    height: 100%;
    width: 100%;
    border-radius: 16px;
    
}

.third-heading {
    margin: 40px;
    font-size: 36px;
    font-weight: bolder;
}

.second-imgCont {
    padding-right: 124px;
    width: 770px;
}

.second-img {
    height: 248px;
    width: 100%
}

.second-cont {
    display: flex;
    gap: 50px;
}

.fourth-section {
    display: flex;
    flex-flow: row nowrap;
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 424px;
}

.quote-container {
    display: flex;
    flex-flow: column wrap;
    width: 600px;
}

.quote-text {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-style: italic;
    font-weight: light;
    color: #1F2937;
    font-size: 36px;
    text-align:start;
    margin: 8px;
}

.quote-ref {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}


.fifth-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
}

.fifth-container {
    display: flex;
    flex-flow: row nowrap;
    background-color: #3882F6;
    height: 150px;
    width: 1000px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    gap: 64px
}

.callToAction {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 0;
}

.signupTwo-text {
    color:#E5E7EB;
    font-size: 18px;
    margin-top: 4px;
}

.signupTwo-cont {
    border: 2px solid #F9FAF8;
    background-color: transparent;
    border-radius: 8px;
    width: 132px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px
}

.signupTwo {
    background-color: transparent;
    border-color: transparent;
    color: #F9FAF8;
    font-weight: bold;
    height: 32px;
    font-size: 18px;
}

.fifth-textCont {
    display: flex;
    gap: 150px;
    align-items: center;
}

.sixth-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    height: 100px;
}

.copyright {
    color:#E5E7EB;
    font-size: 18px;
}